<div class="contenedor">

    <h1 class="tittle">Formulario Cliente</h1>

    <form class="formulario" [formGroup]="formu">

    <label  for="text" id="nombre">Name</label>
    <input  formControlName="name" type="text" id="nombre" placeholder="Escribe Tu Nombre">

    <label for="number" id="email">Document</label>
    <input formControlName="Document" type="number" id="Email" placeholder="Escribe Tu Documento">

    <label for="email" id="mensaje">Email</label>
    <input fromControlName="email" type="email" id="mensaje" placeholder="Escribe Tu Correo">

    <label for="mensaje" id="mensaje">Phone Number</label>
    <input formControlName="phone" type="number" id="mensaje" placeholder="Escribe Tu PhoneNumber">

    <label for="mensaje" id="mensaje">Document Type</label>
    <input formControlName="documen-type" type="number" id="mensaje" placeholder="Escribe Tu tipo de Document">

   <label for="submit" class="enviar">Enviar</label>
    </form>
</div>