.contenedor{
    background: rgba(0, 0, 0, .6);
}

.tittle{
    position: relative;
    top: .6em;
    text-align: center;
    font-size: 3em;
    font-family: monospace;
    color: rgb(7, 64, 189);
}

.formulario{
    position: relative;
    width: 40%;
    margin: auto;
    padding: 20px;
}

label{
    font-size: 1em;
    display: block;
    width: 100%;
    color: #FFFFFF;
}

textarea{
    resize:vertical;
    max-height: 300px;
    min-height: 100px;
}

input, textarea{
    margin-bottom: 1em;
    width: 100%;
    padding: .2em;
    box-sizing: border-box;
    border:  1px solid #cccccc;
}

input:focus, textarea:focus{
    border: 1px solid #1668c4;
}

.enviar{
    position: relative;
   margin: auto;
    background: #1668c4;
    width: 30%;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}

.enviar:hover{
    background: #4b7eb8;
}