<p>bikes-create works!</p>











<div class="contenedor">
    <h1 class="tittle">Reactive Forms</h1>
    
    <form class="formulario" [formGroup]="signupForm" (ngSubmit)="enviar(signupForm.value)">
    
      <label class="form-label">model</label>
      <input  formControlName="model" class="form-input" type="text" placeholder="Escribe el modelo">
    <div class="oligatorio" *ngIf="signupForm.get('model').hasError('model') && signupForm.get('model').touched">*es obligatorio</div>


      <label class="form-label">price</label>
      <input formControlName="price" class="form-input" type="text" placeholder="Ingrese el precio">
    


      <label class="form-label">Usuario</label>
      <input formControlName="serial" class="form-input" type="text" placeholder="Ingrese el serial">
      
      
      <button class="boton" type="submit">Registrarse</button>
    </form>
    
    </div>
    