<p>bikes-list works!</p>
<h1>Bikes List</h1>

<div >
    <table style="width: 40%" border="2" style="text-align: center;" >
        <thead>
            <tr> 
                <th> postId</th>
                <th> Id</th>
                <th> name</th>
                <th> email</th>
                <th> body</th>
               
               

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of bikesList">
                <td>{{ item.postId }}</td>
                <td>{{ item.id}}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.body }}</td>

                <td><a [routerLink]="['../bikes-update', item.postId]" routerLinkActive="routerLink">Update</a></td>

            </tr>
        </tbody>
    </table>
</div>