*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header{
    width: 100%;
    height: 50px;
    background-color: #000000;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor{
    width: 98%;
    margin: auto;
}

h1{
    float: left;
    line-height: 1.5em;
}

#menu-bar{
    display: none;
}

.Header label{
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(12,83,87,.9);
    transition: all 0.5s;
    transform: translateX(-100%);
}

header .contenedor{
    display: table;
}

.menu a{
    display: block;
    color: #5f5f5f;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgb(255,255,255,0.5);
}

.menu a:hover{
background: rgb(255,255,255,0.5) ;
}

#menu-bar:checked ~ .menu{
    transform: translateX(0%);
}

section{
    width: 100%;
    margin-bottom: 25px;
}


#banner{
    margin-top: 50px;
}

#banner img{
    width: 100%;
    height: 50%;
}

@media (min-width: 1024px){
    .menu{
        position: static;
        background: #000000;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }

    .menu a{
        border: none;
    }
    .Header label{
        display: none;
    }

    .contenedor{
        width: 1000px;
    }

    h1{
        line-height: 1.5em;
    }
}

@media (min-width: 768px){
    #banner{
        height: 200px;
        overflow: hidden;
    }

    #banner img{
        height: auto;
        margin-top: -100px;
    }
}

@media (min-width: 1024px){
    #banner img{
        margin-top: -150px;
    }
}
