
<header class="Header">
    <div class="contenedor">
        <h1  >Bike Store</h1>
        <img src="https://img.icons8.com/metro/26/000000/cycling-mountain-bike.png">
        <img src="">
        
        
        <input type="checkbox" id="menu-bar">
        <label class="icon-menu" for="menu-bar"></label>
        <nav class="menu">
<a [routerLink]="['bikes/bikes-list']">Bikes List</a>
<br>
<a [routerLink]="['bikes/bikes-update']">Bikes-Update</a>
<br>
<a [routerLink]="['bikes/bikes-view']">Bikes-View</a>
<br>
<a [routerLink]="['clients/clients-list']">Clients-List</a>
<br>
<a [routerLink]="['clients/clients-forms']">Clients-Forms</a>
<br>
<a [routerLink]="['ciclas/ciclas-list']">Ciclas-list</a>
<br>
<a [routerLink]="['bikes/bikes-create']">Login</a> <!--Bikes Create-->
<br>
<a [routerLink]="['ventas/ventas-list']" >ventas-list</a>

           
        </nav>
    </div>
</header>

