
.contenedor{
    background-color: #f2f2f2;
}

.tittle{
    text-align: center;
    font-family: monospace;
    font-size: 3em;
}

.item{
    display: inline-block;
    width: 25%;
}

.image-container{
    background-color: #ffffff;
    width: 80%;
}

.image{
    width: 100%;
}


.description{
    font-size: 1.1em;
    font-family: monospace;
    color: #120e0e;
}

.precio{
    font-size: 1.3em;
    font-family: monospace;
    color: #120e0e;
    font-weight: bold;
}

.boton, .icon-basket{
    font-size: 1.2em;
    color: #ffffff;
    font-family: monospace;
    font-weight: bold;
    background-color: #0C1CC2;
    border-radius: 6px;
    width: 80%;
    text-align: center;
    padding: .7em;
    margin: auto;
    cursor: pointer;
}

.boton:hover, .icon-basket:hover{
background-color: #5963CA;
}
.precio {
    position: relative;
    bottom: 1em;
}
.boton, .icon-basket{
    position: relative;
    bottom: 1.8em;
}

.contenedor2{
    background-color: #f2f2f2;
    height: 70px;
}

h2{
    position: relative;
    margin: auto;
}
.mas, .icon-down-open{
    font-family: monospace;
    font-size: 1.5em;
    color: #ffffff;
    background-color: #0C1CC2;
    padding: .3em;
    border-radius: 6px;
    width: 20%;
    cursor: pointer;
    text-align: center;
}

.mas:hover, .icon-down-open:hover{
    background-color: #5963CA;
}

/*Responsive*/

@media (max-width:800px){
    .tittle{
        position: relative;
        top: 1em;
        text-align: center;
        font-family: monospace;
        font-size: 2em;
    }

    .item{
        display: inline-block;
        width: 50%;
    }

    .boton, .icon-basket{
        font-size: 1.5em;
        color: #ffffff;
        font-family: monospace;
        font-weight: bold;
        background-color: #0C1CC2;
        border-radius: 6px;
        width: 80%;
        text-align: center;
        padding: .7em;
        margin: auto;
        cursor: pointer;
    }
}

@media(max-width: 600px){
    .mas, .icon-down-open{
        font-family: monospace;
        font-size: 1em;
        color: #ffffff;
        background-color: #0C1CC2;
        padding: .3em;
        border-radius: 6px;
        width: 20%;
        cursor: pointer;
        text-align: center;
    }
}

@media(max-width: 460px){
    .tittle{
        position: relative;
        top: 1em;
        text-align: center;
        font-family: monospace;
        font-size: 1.5em;
    }

    .mas, .icon-down-open{
        font-family: monospace;
        font-size: 1em;
        color: #ffffff;
        background-color: #0C1CC2;
        padding: .3em;
        border-radius: 6px;
        width: 33%;
        cursor: pointer;
        text-align: center;
    }

    .item{
        display: inline-block;
        width: 100%;
    }

    .boton, .icon-basket{
        font-size: 1.5em;
        color: #ffffff;
        font-family: monospace;
        font-weight: bold;
        background-color: #0C1CC2;
        border-radius: 6px;
        width: 80%;
        text-align: center;
        padding: .7em;
        margin: auto;
        cursor: pointer;
    }
}