<div class="contenedor">
    <h1 class="tittle">OFERTAS DESTACADAS</h1>

    <section class="ofertas">
        <article class="item">
            <figure class="image-container">
                <img class="image" src="./../../../assets/Imagenes-Ofertas/1.png" alt="">
                <figcaption class="description">
                    Bicicleta Deportiva De Montaña
                    <h4 class="precio">$1.100.000</h4>
                </figcaption>
                <figcaption>
                    <h5 class="boton icon-basket" >AGREGAR</h5>
                </figcaption>
            </figure>
        </article>

        <article class="item">
            <figure class="image-container">
                <img class="image" src="./../../../assets/Imagenes-Ofertas/2.png" alt="">
                <figcaption class="description">
                    Bicicleta Electrica Deportiva 
                    <h4 class="precio">$1.500.000</h4>
                </figcaption>
                <figcaption>
                    <h5 class="boton icon-basket">AGREGAR</h5>
                </figcaption>
            </figure>
        </article>

        <article class="item">
            <figure class="image-container">
                <img class="image" src="./../../../assets/Imagenes-Ofertas/3.png" alt="">
                <figcaption class="description">
                    Bicicleta Electrica De Montaña
                    <h4 class="precio">$1.400.000</h4>
                </figcaption>
                <figcaption>
                    <h5 class=" boton icon-basket">AGREGAR</h5>
                </figcaption>
            </figure>
        </article>

        <article class="item">
            <figure class="image-container">
                <img class="image" src="./../../../assets/Imagenes-Ofertas/4.png" alt="">
                <figcaption class="description">
                    Bicicleta Deportiva De Turismo
                    <h4 class="precio">$800.000</h4>
                </figcaption>
                <figcaption>
                    <h5 class="boton icon-basket">AGREGAR</h5>
                </figcaption>
            </figure>
        </article>

        <article class="item">
            <figure class="image-container">
                <img class="image" src="./../../../assets/Imagenes-Ofertas/r1.png" alt="">
                <figcaption class="description">
                    Biker Shorkt
                    <h4 class="precio">$50.000</h4>
                </figcaption>
                <figcaption>
                    <h5 class="boton icon-basket">AGREGAR</h5>
                </figcaption>
            </figure>
        </article>

        <article class="item">
            <figure class="image-container">
                <img class="image" src="./../../../assets/Imagenes-Ofertas/r2.png" alt="">
                <figcaption class="description">
                    Buso Para Ciclismo 
                    <h4 class="precio">$800.000</h4>
                </figcaption>
                <figcaption>
                    <h5 class="boton icon-basket">AGREGAR</h5>
                </figcaption>
            </figure>
        </article>

        <article class="item">
            <figure class="image-container">
                <img class="image" src="./../../../assets/Imagenes-Ofertas/r3.png" alt="">
                <figcaption class="description">
                    Uniforme Para Ciclismo
                    <h4 class="precio">$100.000</h4>
                </figcaption>
                <figcaption>
                    <h5 class="boton icon-basket">AGREGAR</h5>
                </figcaption>
            </figure>
        </article>

        <article class="item">
            <figure class="image-container">
                <img class="image" src="./../../../assets/Imagenes-Ofertas/r4.png" alt="">
                <figcaption class="description">
                   Uniforme Para Ciclismo 
                    <h4 class="precio">$100.000</h4>
                </figcaption>
                <figcaption>
                    <h5 class="boton icon-basket">AGREGAR</h5>
                </figcaption>
            </figure>
        </article>

        <article class="item">
            <figure class="image-container">
                <img class="image" src="./../../../assets/Imagenes-Ofertas/E1.png" alt="">
                <figcaption class="description">
                   Linterna Para Bicicleta
                    <h4 class="precio">$70.000</h4>
                </figcaption>
                <figcaption>
                    <h5 class="boton icon-basket">AGREGAR</h5>
                </figcaption>
            </figure>
        </article>

        <article class="item">
            <figure class="image-container">
                <img class="image" src="./../../../assets/Imagenes-Ofertas/E2.png" alt="">
                <figcaption class="description">
                  Anfora
                    <h4 class="precio">$15.000</h4>
                </figcaption>
                <figcaption>
                    <h5 class="boton icon-basket">AGREGAR</h5>
                </figcaption>
            </figure>
        </article>

        <article class="item">
            <figure class="image-container">
                <img class="image" src="./../../../assets/Imagenes-Ofertas/Bomba.png" alt="">
                <figcaption class="description">
                   Bomba De Mano
                    <h4 class="precio">$50.000</h4>
                </figcaption>
                <figcaption>
                    <h5 class="boton icon-basket">AGREGAR</h5>
                </figcaption>
            </figure>
        </article>

        <article class="item">
            <figure class="image-container">
                <img class="image" src="./../../../assets/Imagenes-Ofertas/E4.png" alt="">
                <figcaption class="description">
                   Porta Anfora
                    <h4 class="precio">$15.000</h4>
                </figcaption>
                <figcaption>
                    <h5 class="boton icon-basket">AGREGAR</h5>
                </figcaption>
            </figure>
        </article>

        <article class="item">
            <figure class="image-container">
                <img class="image" src="./../../../assets/Imagenes-Ofertas/Rines.png" alt="">
                <figcaption class="description">
                   Rines 
                    <h4 class="precio">$60.000</h4>
                </figcaption>
                <figcaption>
                    <h5 class="boton icon-basket">AGREGAR</h5>
                </figcaption>
            </figure>
        </article>

        <article class="item">
            <figure class="image-container">
                <img class="image" src="./../../../assets/Imagenes-Ofertas/kit freno disco.png" alt="">
                <figcaption class="description">
                   Kit De Freno Discos
                    <h4 class="precio">$85.000</h4>
                </figcaption>
                <figcaption>
                    <h5 class="boton icon-basket">AGREGAR</h5>
                </figcaption>
            </figure>
        </article>

        <article class="item">
            <figure class="image-container">
                <img class="image" src="./../../../assets/Imagenes-Ofertas/marco.png" alt="">
                <figcaption class="description">
                   Marco De Aluminio Deportivo 
                    <h4 class="precio">$120.000</h4>
                </figcaption>
                <figcaption>
                    <h5 class="boton icon-basket">AGREGAR</h5>
                </figcaption>
            </figure>
        </article>

        <article class="item">
            <figure class="image-container">
                <img class="image" src="./../../../assets/Imagenes-Ofertas/pedales.png" alt="">
                <figcaption class="description">
                   Par De Pedales
                    <h4 class="precio">$10.000</h4>
                </figcaption>
                <figcaption>
                    <h5 class="boton icon-basket">AGREGAR</h5>
                </figcaption>
            </figure>
        </article>

    </section>

</div>

<div class="contenedor2">
    <h2 class="mas icon-down-open">Ver Más</h2>
</div>

