<p>clients-list works!</p>

<div >
    <table style="width: 40%" border="2">
        <tr>
       <th> Id</th>    
       <th> Name</th>   
       <th> Document</th>  
       <th> Email</th>
       <th> Phone Number</th>
       <th> Document Type</th>
    </tr> 
    <tr *ngFor="let item of clientsList">
    <td>{{ item.id }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.document }}</td>
    <td>{{ item.email }}</td>
    <td>{{ item.phoneNumber }}</td>
    <td>{{ item.documentType }}</td>
    </tr>
    </table>
   </div>